{% extends "_global/adminIndex.html" %}

{% block main %}
    <div class="card">
        <div class="card-header">
            Opcije dostupne adminu
        </div>
        <div class="card-body">
            <div class="card-text">
                <a href="{{ BASE }}admin/proizvodi" class="btn btn-primary">
                    Otvorite listu proizvoda
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block naslov %}
Dashboard
{% endblock %}
