
{% extends "_global/index.html" %}

{% block main %}


<div class="container">
    <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% for kategorija in kategorije %}
                <li class="nav-item">
                    <a class="nav-link {% if(loop.first) %} active {% endif %}" data-toggle="tab" href="#tab-{{ kategorija.kategorija_id }}">{{ kategorija.naziv }}</a>
                </li>
            {% endfor %}
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            {% for kategorija in kategorije %}
            <br>
                <div class="tab-pane container {% if(loop.first) %} active {% else %} fade {% endif %}" id="tab-{{ kategorija.kategorija_id }}">
                    {% for proizvod in proizvodi %}
                        {% if(proizvod.kategorija_id == kategorija.kategorija_id) %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-inline-block">
                            <div class="card">
                                <img class="card-img-top img-thumbnail" src="{{ BASE }}assets/uploads/{{ proizvod.proizvod_id }}.jpg" alt="Slika proizvod - {{ proizvod.naziv }}">
                                <div class="card-body">
                                    <a href="{{ BASE }}proizvod/{{ proizvod.proizvod_id }}">
                                        <h5 class="card-title">{{ proizvod.naziv }}</h5>
                                    </a>
                                    <p class="card-text"><small class="text-muted">Cena: {{ proizvod.cena }} / {{ proizvod.jed_mere }}</small></p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>
    <!-- {% for proizvod in proizvodi %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <img class="card-img-top img-thumbnail" src="{{ BASE }}assets/uploads/{{ proizvod.proizvod_id }}.jpg" alt="Slika proizvod - {{ proizvod.naziv }}">
            <div class="card-body">
                <a href="{{ BASE }}proizvod/{{ proizvod.proizvod_id }}">
                    <h5 class="card-title">{{ proizvod.naziv }}</h5>
                </a>
              <p class="card-text"><small class="text-muted">Cena: {{ proizvod.cena }} / {{ proizvod.jed_mere }}</small></p>
            </div>
          </div>
    </div>
    {% endfor %} -->
{% endblock %}

{% block naslov %}
Spisak proizvoda
{% endblock %}
