{% extends "_global/index.html" %}

{% block main %} 
    <div class="center-content"> 
        <form method="post" onsubmit="return validatePrijavaForms()" class="validate-form">
            <i class="fa fa-user"></i> Korisnicko ime
            <input type="text" name="username" class="form-control" pattern="[a-zA-Z ]{2,}"><br>
            <span class="focus-input100"></span>
            <i class="fa fa-lock"></i> Lozinka
            <input type="password" class="form-control" name="password"><br>
            <button type="submit" class="login100-form-btn">Prijava</button>
        </form> 
    </div>   
{% endblock %}

{% block naslov %}
Prijava
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}