{% extends "_global/index.html" %}

{% block naslov %}
Meni: {{ proizvod.naziv|escape }}
{% endblock %}

{% block title %}
Proizvodi "{{ proizvod.naziv|escape }}"
{% endblock %}
{% block main %}

<div class="card proizvod-item">
    <div class="card-body">
        <h2 href="{{ BASE }}proizvod/{{ proizvod.proizvod_id }}" class="card-title">
            {{ proizvod.naziv|escape }}
        </h2>
        <!--<img src="{{ BASE }}assets/uploads/{{ proizvod.image_path }}" alt="proizvod" class="img-thumbnail">-->
        <img src="{{ BASE }}assets/uploads/{{ proizvod.proizvod_id }}.jpg" alt="proizvod-{{ proizvod.naziv}}" class="rounded float-right">
        <p class="card-text"><b>Opis: </b>{{ proizvod.opis|escape }}</p>
        <p class="card-text"><b>Spisak sastojaka: </b>{{ proizvod.sastojci|escape }}</p>
        <p class="card-text"><b>Cena: </b>{{ proizvod.cena|escape }}</p>
        <p class="card-text"><b>Jedinica mere: </b>{{ proizvod.jed_mere|escape }}</p>
        <p class="card-text"><b>Kategorija: </b>{{ proizvod.kategorija_id|escape }}</p>
    </div>

</div>
<script>
<link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">   
    <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">>
</script>
{% endblock %}