
{% extends "_global/index.html" %}

{% block main %}
    <!-- <div class="col-12">
        <div class="card proizvod-item">
            <div class="card-body">
                <a href="{{ BASE }}proizvod/{{ proizvod.proizvod_id }}" class="card-title">
                    {{ proizvod.naziv|escape }}
                </a>
                <img src="{{ BASE }}assets/uploads/{{ proizvod.proizvod_id }}.jpg" alt="Slika proizvod - {{ proizvod.naziv }}"
                class="w-100">
                
            </div>
        </div>
    </div> -->
    <div class="col-12">
    <div class="card">
        <div class="card-body">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="{{ BASE }}assets/uploads/{{ proizvod.proizvod_id }}.jpg" alt="{{ proizvod.naziv }}">
            </div>
            <div class="col-6">
                <h5 class="card-title">{{ proizvod.naziv }}</h5>
                <p class="card-text">{{ proizvod.opis }}</p>
                <p class="card-text">{{ proizvod.sastojci }}</p>
                <p class="card-text">Cena: {{ proizvod.cena }} din. / {{ proizvod.jed_mere }}</p>
            </div>
        </div>
        
        </div>
        <div class="card-body">
            <form method="post" class="d-inline-block">
                <input type="number" value="{{ proizvod.proizvod_id }}" name="proizvod_id" hidden readonly />
                <button type="submit" class="btn btn-primary">Dodaj u korpu</button>
            </form>

          <a href="{{ BASE }}" class="btn btn-primary">Nazad</a>
        </div>
      </div>
    </div>
{% endblock %}

{% block naslov %}
Spisak proizvoda
{% endblock %}
