*{
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: none;
}

section.container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container{
    /* border: 1px solid red;  */
    display: flex;
    flex-wrap: wrap;  
    padding:0; 
}

.center-content{
    justify-content: center;
}

.left-content{
    justify-content: flex-start;
}

#main-header {
    margin-bottom: 30px;
}

label:hover input{
    cursor: pointer;
}



footer {
    text-align: center;
    order: 4;  
    /* position:absolute;
    padding: 5px 0;
    bottom: 0;
    margin-top: 30px;  */
}

.proizvod-wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

.proizvod-item {
    /* width: 33%; */
    margin-bottom: 10px;
}

.proizvod-item .card-body {
    min-height: 120px;  
    margin-bottom: 10px;  
}

.proizvod-item .card-body img{
    height: 86%;
} /*  za prikaz svih sl na pocetnoj iste visine ali ja bi ubacila 2 druga postera mada sve jedno*/

.card{
    margin-bottom: 10px;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
}

.card-details{
    margin: 0;
}
.card-details img{
    margin-left: 15px;
}

.card-details p:first-child{
    text-align: justify;
}

.card-details p:not(:last-child):not(:first-child){
    margin: 0;
}

.seat-area{
    margin-bottom: 20px;
}

.seat:nth-child(4n){
margin-right: 25px;
}

/* .seat:nth-child(5n+1){
    margin-right: 10px;
} */

.seat:last-child{
    margin-right: 0;
}
.transparent{
    color: white;
    background-color: rgba(0,0,0,0.1)
}
.green{
    
    background-color: rgb(45, 112, 45) !important;
    color: green;
}
.red{
    background-color: red !important;
    color: red;
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .login100-form-btn {
    /* font-family: Montserrat-Bold; */
    font-size: 15px;
    line-height: 1.5;
    color: #e0e0e0;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    position: relative;
    z-index: 1;
  }
  
  .login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    top: 0;
    left: 0;
    background: #005bea;
    background: -webkit-linear-gradient(left, #005bea, #00c6fb);
    background: -o-linear-gradient(left, #005bea, #00c6fb);
    background: -moz-linear-gradient(left, #005bea, #00c6fb);
    background: linear-gradient(left, #005bea, #00c6fb);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
  }
  
  .login100-form-btn:hover {
    background: transparent;
    color: #fff;
  }
  
  .login100-form-btn:hover:before {
    opacity: 1;
  }
  .btn-face,
.btn-google {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.btn-face {
  color: #3b5998;
}

.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.btn-google {
  color: #555555;
}

.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
  border-color: #d33f8d;
}
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

.box {
    display: block;
    width: 10px;
    height: 10px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }
