{% extends "_global/index.html" %}


{% block title %}
Rezultati pretrage
{% endblock %}

{% block main %}
<div>
    {% for proizvod in proizvodi %}
    <div class="card">  <!-- proizvod-item -->
        <div class="card-body">
            <h2 href="{{ BASE }}proizvod/{{ proizvod.proizvod_id }}" class="card-title">
                {{ proizvod.naziv|escape }}
            </h2>
            <div class="card-details"> 
                    <img class="rounded float-right" src="{{ BASE }}assets/uploads/{{ proizvod.proizvod_id }}.jpg" alt="proizvod-{{ proizvod-naziv}}">
                <p class="card-text"><b>Opis: </b>{{ proizvod.opis|escape }}</p>
                <p class="card-text"><b>Spisak sastojaka: </b>{{ proizvod.sastojci|escape }}</p>
                <p class="card-text"><b>Kategorija: </b>{{ proizvod.kategorija|escape }}</p>
                <p class="card-text"><b>Cena: </b>{{ proizvod.cena|escape }}</p>
               <!--<p class="card-text"><b>Dodaj u korpu </b>{{ }}</p>-->
               <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg" >
                    Dodaj u korpu
                </button>
            </div>
            </div>
                     
        </div>

        <ul class="spisak-proizvoda">
            {% for proizvod in proizvod %}
       <!-- <li class="spisak-proizvoda-item">
            <a href="{{ BASE }}proizvod/{{ kategorija.kategorija_id }}">
            </a>

            {% endfor %}

    </ul>-->
    </div>
<!-- <script>
<link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">   
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">>
</script>
{% endfor %}-->
</div>

{% endblock %}