
{% extends "_global/index.html" %}

{% block main %}

{% if(korpa != false) %}


    {% for proizvod in proizvodi %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <img class="card-img-top img-thumbnail" src="{{ BASE }}assets/uploads/{{ proizvod.proizvod_id }}.jpg" alt="Slika proizvod - {{ proizvod.naziv }}">
      <div class="card-body">
        <h5 class="card-title">{{ proizvod.naziv }}</h5>
        <p class="card-text">{{ proizvod.opis }}</p>
        <p class="card-text">{{ proizvod.sastojci }}</p>
        <p class="card-text"><small class="text-muted">Cena: {{ proizvod.cena }} / {{ proizvod.jed_mere }}</small></p>
        <form method="post" class="d-inline-block">
            <input type="number" value="{{ proizvod.proizvod_id }}" name="proizvod_id" hidden readonly />
            <input type="number" value="{{ korpa }}" name="korpa_id" hidden readonly />
            <button type="submit" class="btn btn-warning">Ukloni</button>
        </form>
      </div>
    </div>
</div>
    {% endfor %}
        <div class="col-12 text-center">
            <a href="{{ BASE }}porudzbina/{{ korpa }}" class="btn btn-success">
              Zavrsi porudžbinu
          </a>

        </div>
{% endif %}

{% endblock %}

{% block naslov %}
Spisak proizvoda
{% endblock %}
