{% extends "_global/adminIndex.html" %}

{% block main %}
    <form method="post" enctype="multipart/form-data" onsubmit="return validateDodavanjeProizvodaForms()"> 
        <h3>
            <a href="{{ BASE }}admin/proizvodi">
                Spisak svih proizvoda
            </a>
        </h3>
        <div class="form-group">
            <label for="naziv">Naziv proizvoda: </label>
            <input class="form-control" type="text"
            pattern="([0-9a-zA-Z\.\'\! ]){3,}" required name="naziv" id="naziv"> 
        </div>

        <div class="form-group">
            <label for="opis">Opis proizvoda: </label>
            <textarea class="form-control" pattern="([0-9a-zA-\.\'\! ]){3,}" required
                        name="opis" id="opis"></textarea>
        </div>

        <div class="form-group">
            <label for="sastojci">Spisak sastojaka: </label>
            <textarea class="form-control" pattern="([0-9a-zAZs-\.\'\! ]){3,}" required
                        name="sastojci" id="sastojci"></textarea>
        </div>

        <div class="form-group">
            <label for="cena">Cena: </label>
            <input class="form-control" type="number"
            pattern="[0-9\.]{2,}" required name="cena" id="cena">
        </div>

        <div class="form-group">
            <label for="jed_mere">Jedinica mere: </label>
            <!-- <input class="form-control" type="text"
            pattern="([0-9a-zA-Z\.\'\! ]){3,}" required name="jed_mere" id="jed_mere" > -->
            <select id="jed_mere" name="jed_mere" class="form-control">
                    <option value="kom">komad</option>
                    <option value="kg">kg</option>
            </select>
        </div>

        <div class="form-group">
            <label for="kategorija">Kategorija proizvoda: </label>
            <!-- <input class="form-control" type="text"
            pattern="([0-9a-zA-Z\.\'\! ]){3,}" required name="kategorija" id="kategorija"> -->
           <!-- <select class="form-control" name="kategorija">


           </select> -->
           <select id="kategorija_id" name="kategorija_id" class="form-control">
                {% for kategorija in kategorije %}
                    <option value="{{ kategorija.kategorija_id }}">
                        {{ kategorija.naziv }}
                    </option>
                {% endfor %}
            </select>
        </div>
        

        <div class="form-group">
            <label for="image">Izaberite sliku:</label>
            <input class="form-control-file" type="file" required name="image" id="image">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">
                Dodaj proizvod
            </button>
        </div>
    </form> 
{% endblock %}

{% block naslov %}
Dodavanje proizvoda
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}