{% extends "_global/adminIndex.html" %}

{% block main %}
    <a href="{{ BASE }}admin/proizvodi">
        Spisak svih proizvoda
    </a>

    <div>
     <form method="post" enctype="multipart/form-data" onsubmit="return validateDodavanjeProizvodaForms()"> 
    
    <div class="form-group">
        <label for="naziv">Naziv proizvoda: </label>
        <input class="form-control" type="text"
        pattern="^([0-9a-zA-Z\.\'\! ]){3,}$" required name="naziv" id="naziv"
               value="{{ proizvod.naziv }}">
    </div>

    <div class="form-group">
        <label for="opis">Opis proizvoda: </label>
        <textarea class="form-control" pattern="^([0-9a-zA-Z\.\'\! ]){3,}$" required
                  name="opis" id="opis">
                  {{ proizvod.opis }}</textarea>
    </div>

    <div class="form-group">
        <label for="sastojci">Spisak sastojaka: </label>
        <textarea class="form-control" pattern="^([0-9a-zA-Z\.\'\! ]){3,}$" required
                  name="sastojci" id="sastojci">
                  {{ proizvod.sastojci }}</textarea>
    </div>

    <div class="form-group">
        <label for="cena">Cena: </label>
        <input class="form-control" type="number"
        pattern="[0-9\.]{2,}" required name="cena" id="cena"
            value="{{ proizvod.cena }}">
    </div>

    <div class="form-group">
        <label for="jed_mere">Jedinica mere: </label>
        <select id="jed_mere" name="jed_mere" class="form-control">
            <option value="kom" {% if(proizvod.jed_mere == 'kom') %} selected{%endif%}>komad</option>
            <option value="kg"{% if(proizvod.jed_mere == 'kg') %} selected{%endif%}>kg</option>
    </select>
    </div>
    
    <div class="form-group">
        <label for="kategorija">Kategorija proizvoda: </label>
        <!--<input class="form-control" type="text"
        pattern="[a-zA-Z ]{2,}" required name="kategorija" id="kategorija">-->
        <select id="kategorija_id" name="kategorija_id" class="form-control">
            {% for kategorija in kategorije %}
                <option value="{{ kategorija.kategorija_id }}" {% if(proizvod.kategorija_id == kategorija.kategorija_id) %} selected{%endif%}>
                    {{ kategorija.naziv }}
                </option>
            {% endfor %}
        </select>
    </div>
     <div>
        <img src="{{ BASE }}assets/uploads/{{ proizvod.proizvod_id }}.jpg" alt="Slika proizvod - {{ proizvod.naziv }}"
                class="w-100">
    </div>
    <!--
    <div class="form-group">
        <label for="image">Izaberite sliku </label>
        <input class="form-control-file" type="file" required name="image" id="image" accept="image/jpeg">
    </div> -->

    <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">
            Izmeni proizvod
        </button>
    </div>
    </form>
</div>
{% endblock %}

{% block naslov %}
Izmena proizvoda
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}
