{% extends "_global/adminIndex.html" %}

{% block main %}
<a href="{{ BASE }}admin/proizvodi">
    Spisak svih proizvoda
</a>

<p>{{ message|escape }}</p>

{% endblock %}

{% block naslov %}
Izmena proizvoda
{% endblock %}
