{% extends "_global/adminIndex.html" %}

{% block main %}
<div>
    <h3>
        <a href="{{ BASE }}admin/proizvodi/add">
            Dodaj novi proizvod
        </a>
    </h3>


    <div class="list-group">
        {% for proizvod in proizvodi %} 
            <a class="list-group-item list-group-item-action" 
               href="{{ BASE }}admin/proizvodi/edit/{{ proizvod.proizvod_id }}">
                {{ proizvod.naziv|escape }}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block naslov %}
Spisak proizvoda
{% endblock %}
