{% extends "_global/adminIndex.html" %}

{% block main %}
    <a href="{{ BASE }}admin/kategorije">
        Spisak svih kategorija
    </a>

    <div>
        <form method="post" enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="naziv">Naziv kategorije: </label>
                <input class="form-control" type="text"
                pattern="([0-9a-zA-Z\.\'\! ]){3,}" required name="naziv" id="naziv"> 
            </div>
                                
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">
                    Dodajte kategoriju
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block naslov %}
Dodavanje kategorije
{% endblock %}
