{% extends "_global/adminIndex.html" %}

{% block main %}
    <a href="{{ BASE }}admin/kategorije">
        Spisak svih kategorija
    </a>

    <div>
        
        <form method="post" enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="naziv">Naziv kategorije: </label>
                <input class="form-control" type="text"
                pattern="([0-9a-zA-ZšŠđĐčČćĆžŽ?,.'! ]){3,}$" required name="naziv" id="naziv" value="{{kategorija.naziv}}"> 
            </div>

            <!-- <div class="form-group">
                <label for="is_active">Vidljiva: </label>
                <input class="form-control" type="radio"
                 name="is_active" id="is_active" {% if(kategorija.is_active) %} checked value='1' {% else %} value='0' {% endif %} > 
            </div> -->
            <div class="custom-control custom-radio">
                <input type="radio" id="vidljivo" name="is_active" class="custom-control-input" {% if(kategorija.is_active == 1) %} checked {% endif %} value="1">
                <label class="custom-control-label" for="vidljivo">Vidljivo</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="nevidljivo" name="is_active" class="custom-control-input" {% if(kategorija.is_active == 0) %} checked {% endif %} value="0">
                <label class="custom-control-label" for="nevidljivo">Nevidljivo</label>
              </div>
                                
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">
                    Izmenite kategoriju
                </button>
            </div>
            <p>{{message|escape}}</p>
        </form>
    </div>
{% endblock %}

{% block naslov %}
Izmena kategorija
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}
