{% extends "_global/adminIndex.html" %}

{% block main %}
<a href="{{ BASE }}admin/kategorije/add">
    Dodaj novu kategoriju
</a>

<ol>
    {% for kategorija in kategorije %}
    <li class="my-2">
        <a href="{{ BASE }}admin/kategorije/edit/{{ kategorija.kategorija_id }}">
            {{ kategorija.naziv|escape }}
        </a>

        <a class="btn btn-primary " href="{{ BASE }}admin/kategorije/edit/{{ kategorija.kategorija_id }}">
         izmeni
        </a>
        
    {% endfor %}
</ol>
{% endblock %}

{% block naslov %}
Spisak kategorija
{% endblock %}