{% extends "_global/adminIndex.html" %}

{% block main %}
<a href="{{ BASE }}admin/kategorije">
    Spisak svih porudžbina
</a>

<p>{{ message|escape }}</p>

{% endblock %}

{% block naslov %}
Izmena kategorije
{% endblock %}
