{% extends "_global/index.html" %}

{% block main %}




<div class="container">
    <form method="post" onsubmit="return validatePorudzbinaForms()">
        
        <div class="form-group">
            <label for="ime_korisnika">Ime: {{porudzbina.ime_korisnika}} </label>
            <input class="form-control" type="text" pattern=".*[^\s]{3,}.*" required name="ime_korisnika" id="ime_korisnika">
        </div>
        <div class="form-group">
            <label for="prezime_korisnika">Prezime: {{porudzbina.prezime_korisnika}} </label>
            <input class="form-control" type="text" pattern=".*[^\s]{3,}.*" required name="prezime_korisnika" id="prezime_korisnika">
        </div>
        <div class="form-group">
            <label for="adresa">Adresa: {{porudzbina.adresa}} </label>
            <input class="form-control" type="text" pattern=".*[^\s]{3,}.*" required name="adresa" id="adresa">
        </div>
        <div class="form-group">
            <label for="email">Email: {{porudzbina.email}} </label>
            <input class="form-control" type="text" pattern=".*[^\s]{3,}.*" required name="email" id="email">
        </div>
        <div class="form-group">
            <label for="komentar">Komentar: {{porudzbina.komentar}} </label>
            <textarea class="form-control" pattern="([0-9a-zA-\.\'\! ]){3,}" required
                        name="komentar" id="komentar"></textarea>
           <!-- <input class="form-control" type="text" pattern=".*[^\s]{3,}.*" required name="komentar" id="komentar">-->
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" >
                Sačuvajte porudžbinu
            </button>
        </div>
    </form>
</div>


{% endblock %}

{% block naslov %}
Porudžbina
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}