<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Slatkisi{% endblock %}
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">
    </head>
    <body>
        <section class="container">
            <header class="row" id="main-header">
                <img alt="Banner 1" src="{{ BASE }}assets/img/site/banner1.png">
                <nav class="navbar navbar-expand-lg navbar-light bg-light col col-12">                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}admin/kategorija"><i class="fa fa-tags" aria-hidden="true"></i>Dodaj kategoriju</a>
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}admin/proizvod"><i class="fas fa-cookie-bite" aria-hidden="true"></i>Dodaj proizvod</a>
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}admin/logout"><i class="fa fa-sign-out"></i> Odjava</a>
                            
                        </ul>
                    </div>
                </nav>
            </header>

            <div>
                <div class="col-12 main-container center-content text-center pb-2">
                    {{message|escape}}
                </div>
                {% block main %}
                ...
                {% endblock %}
            </div>

            <aside>
               
            </aside>
            <footer class="col-12 text-center">
                &copy; Prodavnica slatkiša
            </footer>

        </section>
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ BASE }}assets/js/bookmarks.js"></script>
    </body>
</html>
