<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Slatkiši{% endblock %}
        </title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">
    </head>
    <body>
        <div class="container">
            <header class="row" id="main-header">
                    <img alt="Banner1" src="{{ BASE }}assets/img/site/banner1.png">

               
                <nav class="navbar navbar-expand-lg navbar-light bg-light col col-12">
                    
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}proizvodi"><i class="far fa-circle" aria-hidden="true"></i> Proizvodi</a>
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}korpa"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Korpa</a>
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}admin/login"><i class="fa fa-sign-in"></i> Prijava</a>
                        </ul>
                        <!-- <form method="post" action="{{ BASE }}search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" placeholder="Pretražite proizvode" name="search" class="form-control">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-outline-dark">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form> -->
                    </div>
                </nav>
            </header>
            

            <div class="row main-container center-content">
                <div class="col-12 main-container center-content text-center pb-2">
                    {{message|escape}}
                </div>
                {% block main %}
                ...
                {% endblock %}
            </div>

            <aside>
               
            </aside>
            <footer class="col-12 text-center">
                    &copy; Prodavnica slatkiša            
            </footer>

        </div>

        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="{{ BASE }}assets/js/bookmarks.js"></script>
    </body>
</html>